{% extends 'base.html' %}

{% block title %}Edit {{ customer.FullName }} Reservation {% endblock %}

{% block content %}

  <form action="/reservations/{{ reservation.id }}/edit/" method="POST">
    <h1>Edit reservation</h1>

    <div class="mb-3">
      <label for="startAt">Start: </label>
      <input id="startAt"
             class="form-control"
             name="startAt"
             value="{{ reservation.startAt }}">
    </div>
    <div class="mb-3">
      <label for="num-guests">Number of Guests:</label>
      <input id="num-guests"
             class="form-control"
             name="numGuests"
             value="{{ reservation.numGuests }}">
    </div>
    </div>
    <div class="mb-3">
      <label for="notes"></label>Notes:
      <textarea id="notes"
                class="form-control"
                name="notes">{{ reservation.notes }}</textarea>
    </div>
    <button class="btn btn-primary">Update</button>
    <a href="/{{ customer.id }}/" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}